nav{

    float:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
h4{
    background-color: rgb(69, 114, 3);
   
}

h3.solid {border-style: solid;}
footer{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  
  
  li a {
    display: block;
    padding: 8px;
  }